@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
    background-image: url("https://static.landleren.be/img/quiz_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bg-custom {
    background-color: rgba(255, 0, 0, 0.55);
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

.bg-custom::before {
    content: '';
    clear: both;
    display: table;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

h1,
h2 {
    color: #f7cc0b;
}

#intro h2 {
    color: white;
}

.btn {
    background-color: #042d89;
    color: #f7cc0b;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #042d89;
    color: #f7cc0b;
}

.smileys div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
}

.correct {
    background-color: green;
    background-image: url("https://static.landleren.be/img/happy-smiley.webp");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.incorrect {
    background-color: red;
    background-image: url("https://static.landleren.be/img/sad-smiley.webp");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

td {
    background-color: #f7cc0b;
    color: #042d89;
    font-weight: bold;
}

#results table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

#results table td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}


/*select page*/

#startPage .btn {
    transition: ease-in-out 0.5s;
}